# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Next.js Build
.next/
client/.next/

# Production Build
dist/
build/

# Environmental Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
